.months-table {
  max-width: 700px;
  width: 90%;
  font-size: 16px;
  text-align: center;
  color: var(--gris);
  margin: 0 auto;
}

.months-table thead {
  color: white;
  background-color: var(--gris);
}

.months-table td {
  padding: 20px;
}

.months-table tbody tr:nth-child(even){
  background-color: var(--amarillo);
}

.paid-month {
  background-color: rgb(62, 167, 62);
  color: white;
  border-radius: 10px;
}

.unpaid-month {
  background-color: var(--gris);
  color: white;
  border-radius: 10px;
}

